# {{ ansible_managed }}

MINT_BACKEND_BOLT11_SAT=LndRPCWallet
MINT_LND_RPC_ENDPOINT=127.0.0.1:10009
MINT_LND_RPC_CERT={{ lnd_home }}/.lnd/tls.cert
MINT_LND_RPC_MACAROON={{ lnd_home }}/.lnd/data/chain/bitcoin/{{ lnd_network }}/mint.macaroon

MINT_PRIVATE_KEY={{ vault_mint_private_key }}
MINT_DERIVATION_PATH=m/0'/0'/0'

MINT_DATABASE=postgres
MINT_DATABASE_URL=postgresql://{{ mint_db_user }}:{{ vault_mint_db_password }}@localhost:5432/{{ mint_db_name }}

MINT_LISTEN_HOST=127.0.0.1
MINT_LISTEN_PORT={{ nutshell_port }}
